#practice_header {
    background-color: #ddd;
}

span.nw{
    white-space: nowrap;
}

.practice_layout {
    display: none;
}

.lContainer {
    text-align: center;
}

.footer {
    width: 100%;
    background-color: #ddd;
}

#caseInfo {
    width: 90%;
    text-align: left;
    background-color: #ddd;
    border: 1px solid black;
    padding: 3px;
    font-size: 20px;
}

#getRnd {width: 90%;}
#mainPic {width: 300px;}
#caseInfoBtn {width: 90%;}
#selOn {width: 90%;}
